.eg {
    position: relative;
    top: 450px;
    left: 825px;
    border-width: 50px;
}

input,
textarea {
    position: relative;
    padding: 8px;
    top: 50px;
    left: 800px;
    color: #000;
    animation: slideLeft 1s ease forwards;
    animation-delay: 200ms;
    margin: 10px 0;
    border-color: greenyellow;
    box-shadow: 1px 1px 5px #000, 0 0 10px green, 0 0 20px green;
    border-radius: 10px;
}

input:hover,
textarea:hover {
    box-shadow: 1px 1px 10px #000, 0 0 15px limegreen, 0 0 30px limegreen;
    border-color: limegreen;
    transform: scale(1.05);
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 1px 1px 10px #000, 0 0 15px limegreen, 0 0 30px limegreen;
    border-color: limegreen;
}

.sub {
    position: relative;
    left: 980px;
}

.whole {
    position: relative;
    top: 100px;
    scrollbar-width: none;
    overflow-x: hidden;
}

.no {
    position: absolute;
    top: 125px;
    left: 500px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 200ms;
    margin: 10px 0;
    background-color: transparent;
    border-color: greenyellow;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000, 0 0 10px green, 0 0 20px green;
}

.em {
    position: absolute;
    top: 125px;
    left: 1100px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 200ms;
    margin: 10px 0;
    background-color: transparent;
    border-color: greenyellow;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000, 0 0 10px green, 0 0 20px green;
}

.loc {
    position: relative;
    top: 50px;
    left: 250px;
    font-size: 2.7em;
    animation: slideLeft 1s ease forwards;
    animation-delay: 200ms;
}

iframe {
    position: relative;
    left: 500px;
}

.con {
    position: absolute;
    top: 150px;
    left: 815px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 200ms;
    padding: 10px 0 10px 0;
    margin: 0 0 30px;
    text-align: center;
    color: gre;
    text-shadow: 1px 1px 5px #000, 0 0 10px green, 0 0 20px green;
    border-radius: 10px;
    border: 1px solid green;
    box-shadow: 0px 0px 50px -8px green;
    padding: 8px;
}